@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
    --primary-color: #0F1316;
    --secondary-color: #111D31;
    --trim-color: #D4FF00;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calculator-block {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    width: 30vw;
    margin: 0 auto;
    padding: 50px 100px;
}

.calculator-block h3, h4 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.calculator-block span {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

.form-inline {
    display: flex;
}

.form-inline .input-comma {
    line-height: 3em;
}

.form-inline .calc-input {
    width: 50%;
}

.calc-input {
    background: none;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid var(--trim-color) 1px;
    width: 100%;
    text-align: center;
    color: #9a9a9a;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.calculator-field {
    margin: 20px 0 10px 0;
}

.btn-calculate {
    background-color: var(--trim-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: var(--secondary-color);
    text-transform: uppercase;
    border: 1px solid var(--trim-color);
    margin: 0 auto;
}

.btn-calculate:hover {
    background-color: var(--secondary-color);
    color: var(--trim-color);
    border: 1px solid var(--trim-color);
    cursor: pointer;
}

.button-field {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    .calculator-block {
        display: inline-block;
        background-color: var(--secondary-color);
        color: #fff;
        width: 70vw;
        margin: 0 auto;
        padding: 20px;
    }

    .calculator-block h4 {
        margin: 50px auto 20px auto;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .calculator-block span {
        display: block;
        margin: 0;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 30px;
        text-align: center;
    }
}